In [14]:
!wget -O file.zip 'https://www150.statcan.gc.ca/n1/en/tbl/csv/25100015-eng.zip?st=BI4egSlY'

--2023-08-07 15:27:52--  https://www150.statcan.gc.ca/n1/en/tbl/csv/25100015-eng.zip?st=BI4egSlY
Resolving www150.statcan.gc.ca (www150.statcan.gc.ca)... 167.44.105.20
Connecting to www150.statcan.gc.ca (www150.statcan.gc.ca)|167.44.105.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 733619 (716K) [application/zip]
Saving to: ‘file.zip’

file.zip            100%[===================>] 716.42K   785KB/s    in 0.9s

2023-08-07 15:27:53 (785 KB/s) - ‘file.zip’ saved [733619/733619]

In [15]:
!unzip file.zip
!rm file.zip
!rm 25100015_MetaData.csv

Archive:  file.zip
  inflating: 25100015.csv
  inflating: 25100015_MetaData.csv

In [16]:
import pandas as pd
df = pd.read_csv('./25100015.csv')

/var/folders/jd/ltfgdfxs1mb1br8k4ccymp7m0000gn/T/ipykernel_82641/3825311093.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./25100015.csv')

In [17]:
df

,REF_DATE,GEO,DGUID,Class of electricity producer,Type of electricity generation,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2008-01,Canada,2016A000011124,Total all classes of electricity producer,Total all types of electricity generation,Megawatt hours,210,units,0,v44174609,1.1.1,59082501.0,NaN,NaN,NaN,0
1,2008-01,Canada,2016A000011124,Total all classes of electricity producer,Hydraulic turbine,Megawatt hours,210,units,0,v44174610,1.1.2,36647695.0,NaN,NaN,NaN,0
2,2008-01,Canada,2016A000011124,Total all classes of electricity producer,Conventional steam turbine,Megawatt hours,210,units,0,v44174611,1.1.3,11021441.0,NaN,NaN,NaN,0
3,2008-01,Canada,2016A000011124,Total all classes of electricity producer,Nuclear steam turbine,Megawatt hours,210,units,0,v44174612,1.1.4,8963878.0,NaN,NaN,NaN,0
4,2008-01,Canada,2016A000011124,Total all classes of electricity producer,Internal combustion turbine,Megawatt hours,210,units,0,v44174613,1.1.5,105643.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58909,2023-05,Nunavut,2016A000262,"Electricity producers, industries",Total electricity production from combustible ...,Megawatt hours,210,units,0,v1059484873,14.3.11,0.0,NaN,NaN,NaN,0
58910,2023-05,Nunavut,2016A000262,"Electricity producers, industries",Total electricity production from non-renewabl...,Megawatt hours,210,units,0,v1146006371,14.3.12,0.0,NaN,NaN,NaN,0
58911,2023-05,Nunavut,2016A000262,"Electricity producers, industries",Total electricity production from biomass,Megawatt hours,210,units,0,v1146006413,14.3.13,0.0,NaN,NaN,NaN,0
58912,2023-05,Nunavut,2016A000262,"Electricity producers, industries",Wind power turbine,Megawatt hours,210,units,0,v1059484906,14.3.8,0.0,NaN,NaN,NaN,0
58913,2023-05,Nunavut,2016A000262,"Electricity producers, industries",Solar,Megawatt hours,210,units,0,v1059484941,14.3.9,23.0,NaN,NaN,NaN,0

In [18]:
df.dtypes

REF_DATE                           object
GEO                                object
DGUID                              object
Class of electricity producer      object
Type of electricity generation     object
UOM                                object
UOM_ID                              int64
SCALAR_FACTOR                      object
SCALAR_ID                           int64
VECTOR                             object
COORDINATE                         object
VALUE                             float64
STATUS                             object
SYMBOL                             object
TERMINATED                        float64
DECIMALS                            int64
dtype: object

In [19]:
df['year'] = df['REF_DATE'].str[:4]

In [20]:
df['REF_DATE'] = pd.to_datetime(df['REF_DATE'], format='%Y-%m')

In [21]:
df2 = df[(df['REF_DATE'] >= '2016-01') &
         (df['REF_DATE'] <= '2022-01') &
         (df['GEO'] != 'Canada') &
   (df['Class of electricity producer'] == 'Total all classes of electricity producer') &
   (~df['Type of electricity generation'].isin(['Conventional steam turbine',
                                                'Internal combustion turbine',
                                                'Combustion turbine',
                                                'Total electricity production from non-renewable combustible fuels',
                                                'Total electricity production from biomass',
                                                'Total all types of electricity generation']) )]

In [22]:
def prov_code(row):
  if row['GEO'] == 'Alberta':
    return 'AB'
  elif row['GEO'] == 'British Columbia':
    return 'BC'
  elif row['GEO'] == 'Manitoba':
    return 'MB'
  elif row['GEO'] == 'New Brunswick':
    return 'NB'
  elif row['GEO'] == 'Newfoundland and Labrador':
    return 'NL'
  elif row['GEO'] == 'Northwest Territories':
    return 'NT'
  elif row['GEO'] == 'Nova Scotia':
    return 'NS'
  elif row['GEO'] == 'Nunavut':
    return 'NU'
  elif row['GEO'] == 'Ontario':
    return 'ON'
  elif row['GEO'] == 'Prince Edward Island':
    return 'PE'
  elif row['GEO'] == 'Quebec':
    return 'QC'
  elif row['GEO'] == 'Saskatchewan':
    return 'SK'
  elif row['GEO'] == 'Yukon':
    return 'YT'
  else:
    return row['GEO']

In [23]:
df2['Prov'] = df2.apply(prov_code,axis=1)

/var/folders/jd/ltfgdfxs1mb1br8k4ccymp7m0000gn/T/ipykernel_82641/304966666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Prov'] = df2.apply(prov_code,axis=1)

In [24]:
df2

,REF_DATE,GEO,DGUID,Class of electricity producer,Type of electricity generation,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS,year,Prov
22217,2016-01-01,Newfoundland and Labrador,2016A000210,Total all classes of electricity producer,Hydraulic turbine,Megawatt hours,210,units,0,v44174696,2.1.2,4581599.0,NaN,NaN,NaN,0,2016,NL
22221,2016-01-01,Newfoundland and Labrador,2016A000210,Total all classes of electricity producer,Total electricity production from combustible ...,Megawatt hours,210,units,0,v1059484835,2.1.11,303692.0,NaN,NaN,NaN,0,2016,NL
22222,2016-01-01,Newfoundland and Labrador,2016A000210,Total all classes of electricity producer,Tidal power turbine,Megawatt hours,210,units,0,v1059484878,2.1.7,0.0,NaN,NaN,NaN,0,2016,NL
22223,2016-01-01,Newfoundland and Labrador,2016A000210,Total all classes of electricity producer,Wind power turbine,Megawatt hours,210,units,0,v54257822,2.1.8,20217.0,NaN,NaN,NaN,0,2016,NL
22224,2016-01-01,Newfoundland and Labrador,2016A000210,Total all classes of electricity producer,Solar,Megawatt hours,210,units,0,v1059484908,2.1.9,0.0,NaN,NaN,NaN,0,2016,NL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51540,2022-01-01,Northwest Territories,2016A000261,Total all classes of electricity producer,Solar,Megawatt hours,210,units,0,v1059484936,13.1.9,0.0,NaN,NaN,NaN,0,2022,NT
51560,2022-01-01,Nunavut,2016A000262,Total all classes of electricity producer,Hydraulic turbine,Megawatt hours,210,units,0,v44174684,14.1.2,0.0,NaN,NaN,NaN,0,2022,NU
51563,2022-01-01,Nunavut,2016A000262,Total all classes of electricity producer,Total electricity production from combustible ...,Megawatt hours,210,units,0,v1059484871,14.1.11,18626.0,NaN,NaN,NaN,0,2022,NU
51566,2022-01-01,Nunavut,2016A000262,Total all classes of electricity producer,Wind power turbine,Megawatt hours,210,units,0,v1059484904,14.1.8,0.0,NaN,NaN,NaN,0,2022,NU
51567,2022-01-01,Nunavut,2016A000262,Total all classes of electricity producer,Solar,Megawatt hours,210,units,0,v1059484939,14.1.9,0.0,NaN,NaN,NaN,0,2022,NU

In [25]:
df2.to_csv('./Canada-Energy-2016_onwards.csv')

In [26]:
!rm 25100015.csv